:root {
  --white: #FFFFFF;
  --grey-100: #FAFAFA;
  --grey-300: #F4F3F3;
  --grey-400: #EDEDED;
  --grey-500: #E8F4F9;
  --grey-700: #BEBBB5;
  --grey-900: #6D758F;
  --grey-600: #E1E4ED;
  --black-400: #313130;
  --black-600: #262625;
  --red-700: #F8EFEC;
  --red-800:#E20000;
  --brown-50: #F8F4F9;
  --brown-300: #A78768;
  --brown-600: #796356;
  --brown-900: #4C3C33;
  --blue-100: #B4B9C9;
  --blue-200: #92A5AF;
  --blue-800: #1849CA;
  --red-600: #B3261E;
  --black-200-90: #444443;
  --dark-brown: #4C3C33;
  --custom-beige: #F8F0EC;
  --darkBlue: #353E5C;
  --light-gray-blue: #7b7b87;
  --green-500: #21AB53;
  --red-500: #FF2D46;

  --shadow-01: 0 0.5px 2px 0 #19213D1A; // 10% прозрачность
  --shadow-02: 0 1px 4px 0 #19213D14; // 8% прозрачность
  --shadow-03: 0 0.5px 2px 0 #19213D1A; // 10% прозрачность
}

