html {
  box-sizing: border-box;
  min-height: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: middle;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  white-space: normal;
}

input {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  color: inherit;
  font: inherit;
  outline: none;
  transition: none;
}


svg[data-lastpass-icon="true"] {
  display: none !important;
}
textarea {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  resize: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  box-shadow: none;

}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  color: inherit;
  font: inherit;
  outline: none;
}


body {
  background-color: var(--grey-100);
  width: 100%;
  box-sizing: inherit;
  position: relative;
  min-height: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  background: var(--grey-100);
  overflow-x: auto;
  letter-spacing: 0;
  font-family: 'Lato', sans-serif;
  color: var(--black-400);

}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1106px;
  margin: 0 auto;
}

.main {
  flex: 1;
  padding-top: 88px;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
  pointer-events: none;
}
