.contentDiv {
  width: 100%;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin: 15px;
}

.dailyItem {
  width: 40%;
  max-width: 400px;
  min-width: 90%;
  box-shadow: 10px 10px 30px #017b8b,
  inset 15px 15px 20px #005763;
  border-radius: 5px;
  color: white;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 5px;

  & span {
    margin-left: 10px;
  }

}


.detailsForecast {
  width: 40%;
  margin-left: 15px;
  display: inline-grid;
  grid-template-columns: auto auto;
}

.detailsItem {
  margin: 5px;
  color: #0f171e;
  font-weight: bold;
  font-size: 18px;
}

